.img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    max-width: 960px;
    margin: 40px auto;
  
}

img{
    width: 100%;
    height: 270px;
    border-radius: 10px;
    object-fit: cover;
    
}
body{
    background-image:url("background.jpg") ; /*set backgroung image in broswer */
    background-size: cover;/* to cover full screen */
}