#h1{
    font-weight:bold;
}
#h2{
    font-weight:lighter;
}
#one{
    
    font-family:Arial;
}
p{
    text-align: center;

}
#two{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}