div{
    height: 50px;
    width: 50px;
    background-color: pink;
}
@media(width < 600px) 
{
   div{
       background-color: peru;
   }
}
@media(min-width : 600px) and (max-width: 1200px)
{
   div{
       background-color: purple;
   }
}