div{
    height: 100px;
    background-color: lightgrey;
    width: 100px;
    border-width: 2px;
    border-style: double;
    border-color: black;
    border-radius: 10px;/*corner round & circle creating use border-radius property */
    /* area of content and border use padding property */
    padding: 25px 25px 25px 25px; /*top right bottom left*/
    margin-top: 50px;/* space to two boxs  */
    margin: 25px 50px 75px 100px; /*top right bottom left*/
}
h1{
    width: 200px;
    height: 50px;
    background-color: lightblue;
    border: 2px dotted maroon;/* shorthand for border-width, border-style, border-color */
    text-align: center;
}
#parah{
    background-color: pink;
    display: inline;/*display property inline(only use specific line ), inline-block */
}
#btn{
    display: block;/*block use full line */
}
#box{
  width: 100px;
  height: 100px;
  margin:25px;
  padding: 25px;
  display: inline-block;/*set to display margin &padding*/
}