#h1{
    font-weight:bold;
}
#h2{
    font-weight:lighter;
}
#one{
    
    font-family:Arial;
}
p{
    text-align: center;

}
#two{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#onee{
    font-size: 25px;
    line-height: 50px;
    text-transform: capitalize;
}   