p{
    text-align: center;
}
h1{
    text-align: center;
    text-decoration:underline;
}
h2{
    text-align: center;
    text-decoration: overline;
}
h3{
    text-align: center;
    text-decoration: line-through;
}
a{
    text-decoration: none;
}